<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LicenseAgreement" value="True" />
        <add key="MRUConnections0" value="localhost" />
        <add key="MRUServiceListing0" value="D:\TargetService.ServiceListing" />
        <add key="FileOpenInitialFolder" value="D:\" />
        <add key="MRUServiceListing1" value="D:\AccountingService.ServiceListing" />
        <add key="MRUServiceListing2" value="D:\OrderService.ServiceListing" />
        <add key="MRUServiceListing3" value="D:\CreditCardService.ServiceListing" />
    </appSettings>
</configuration>